.intro{
    background-color: #2D2641;
}
.intro__box{
    max-width: 540px;
}
.intro__container{
    display: flex;
    position: relative;
    align-items: center;
    padding: 100px 0px;
}
.intro__img{
    margin-bottom: -260px;
}
.intro__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: 50px;
    width: 540px;
} 