.intro{
    background-color: #2D2641;
    position: relative;
    &::after{
        position: absolute;
        width: 649px;
        height: 649px;
        content: '';
        background-image: url('../../img/intro-after..png');
        background-repeat: no-repeat;
        right: -200px;
        top: 0;
    }
    &::before{
        position: absolute;
        width: 697px;
        height: 649px;
        content: '';
        background-image: url('../../img/intro-before.png');
        background-repeat: no-repeat;
        left: 0;
        bottom: -450px;
    }
}
.intro__box{
    max-width: 540px;
}
.intro__container{
    display: flex;
    position: relative;
    align-items: center;
    padding: 100px 0px;
}
.intro__img{
    margin-bottom: -260px;
}
.intro__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: 50px;
    width: 540px;
} 